body {
    min-width: 400px;
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #5f9341;
    margin-bottom: 5px;
}
button {
    color: #ffffff;
    background: #5f9341;
    padding: 10px 20px;
    border-top: 10px;
    font-weight: bold;
    border: 1px solid #5f9341;
}
#del-btn{
    background:white;
    color:#5f9341;
}
ul{
    margin-top: 20px;
    list-style: none;
    padding-left: 0;

}
ul li{
    margin-top: 5px;
}
li a{
    margin-left: 5px;
    text-decoration: none;
    color: #5f9341;
}